.room {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .user-interface {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

    .interface-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5em;
      height: 2.5em;
      background-color: black;
      border-radius: 50%;
      color: white;
      font-size: 1.5em;
      cursor: pointer;
      margin-right: 1em;
      transition: .4s;

      .disable {
        color: red;
      }
    }

    .call {
      background-color: #00FF7F;

      i {
        transform: rotate(90deg);
      }
    }

    .hung-up {
      background-color: red;

      i {
        transform: rotate(225deg);
      }
    }
  }

  .users-video-wrapper {
    display: flex;
  }
}